
extends layout

block content
	.container
		.row
			.col-12
				.custom-spacer

	.container
		.row
			.col-lg-5.col-sm-12.mb-5.mx-auto
				h2.text-lg-left.text-sm-center Hello!
				h3.text-lg-left.text-sm-center Welcome to my Exam 
			.col-lg-7.col-sm-9.mx-auto
				#login.col-lg-10.col-sm-10.mx-auto 
					form.card.card-body.bg-light(method='post')
					
						h3 Please Login To Your Account
						.form-group
							label Username
							input.form-control(type='text', id='user-tf', name='user')
						.form-group
							label Password
							input.form-control(type='password', id='pass-tf', name='pass')
						#row1
							button(type='button')#btn_remember.btn.btn-light.btn-left
								span.fa.fa-check-square
								| Remember Me
							button(type='submit')#btn_sign_in.btn.btn-primary
								span.fa.fa-lock
								| Sign In
						hr
						.btm-links
							#forgot-password
								a(href='#') Forgot Your Password?
							#create-account
								a(href='/signup') Create An Account

	include modals/alert
	include modals/lost-password

block scripts
	script(src='/js/views/login.js')
	script(src='/js/controllers/loginController.js')
	script(src='/js/form-validators/loginValidator.js')
	script(src='/js/form-validators/emailValidator.js')